.home-container {
    position: relative;
  }
  
  .share-buttons {
    display: flex;
    position: absolute;
    top: 10px; 
    left: 10px; 
    justify-content: end;
    align-items: center;
    
  }
  .buttons{
    outline: none;
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    background-color: #0f52ba;
    color: #fff;
  }
  .blogList-wrap{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:3rem;
}

@media(max-width:768px){
    .blogList-wrap{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:3rem;
    }

}

@media(max-width:600px){
    .blogList-wrap{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:3rem;
    }

}

.read-more-link {
  color: #007bff; 
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.read-more-link:hover {
  text-decoration: underline;
}


